@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

body {
  font-family: 'Open Sans';
  font-size: 1em;

  .Table {
    width: 1024px;
    border-collapse: collapse;
    margin: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    thead tr {
      background-color: #009879;
      color: #ffffff;
      text-align: center;
      text-transform: uppercase;
    }

    th,
    td {
      padding: 12px 15px;
      text-align: center;
    }

    tbody tr {
      border-bottom: 1px solid #dddddd;
    }

    .trChild {
      background-color: #edfffb;
      position: relative;
    }
  }

  .Panel {
    margin: 16px auto;
    width: 1024px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .Button {
    border: 2px solid #009879;
    background-color: #009879;
    color: white;
    font-weight: bold;
    transition: 0.4s;
    padding: 8px 0;
    width: 100px;

    &:hover {
      background-color: white;
      color: #009879;
      cursor: pointer;
    }
  }

  select {
    appearance: none;
    outline: 0;
    border: 2px solid #009879;
    box-shadow: none;
    flex: 1;
    padding: 0 1em;
    font-family: 'Open Sans';
    font-size: 1em;
    background-color: white;
    cursor: pointer;

    &::-ms-expand {
      display: none;
    }
  }

  .Select {
    position: relative;
    display: flex;
    width: 10em;
    height: 2em;
    border-radius: 0.25em;
    overflow: hidden;

    &::after {
      content: '\25BC';
      font-size: 0.9em;
      position: absolute;
      top: 0;
      right: 0;
      padding: 0.4em;
      background-color: #009879;
      transition: 0.4s all ease;
      pointer-events: none;
    }

    &:hover::after {
      color: white;
    }
  }

  .Checkbox {
    display: flex;
    align-items: center;

    input {
      position: absolute;
      opacity: 0;

      & + label:before {
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: 20px;
        height: 20px;
        background: white;
        border: 1px solid #009879;
      }

      &:hover + label:before {
        background: #edfffb;
      }

      &:checked + label:before {
        background: #009879;
        content: '\2713';
        text-align: center;
        font-size: 0.8em;
        color: white;
        font-weight: bold;
      }

      &:checked + label:after {
        position: absolute;
        left: 5px;
        top: 9px;
        width: 2px;
        height: 2px;
        box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white,
          4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
        transform: rotate(45deg);
      }
    }
  }
}
